#root {
  max-width: 956px;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Reset & base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  font-family: "Exo 2", sans-serif;
}

body {
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  color: #333;
  min-height: 100vh;
  padding: 1rem;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-title {
  border-radius: 20px;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
}

.todo {
  flex-direction: row;
  height: calc(100vh - 200px);
}

.sidebar,
.content {
  border-radius: 20px;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 50px 20px 50px 20px;
}

.sidebar {
  flex: 0 0 300px;
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 648px) {
  .todo {
    height: auto;
  }
  .sidebar {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .content {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .todo {
    flex-direction: column;
  }
}

.content {
  flex: 3;
  padding: 50px;
  overflow: auto;
}

.field {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: 1px solid #efefef;
  width: 100%;
  padding: 10px 12px;
  color: #747474;
  &:focus {
    border-color: #dbdbdb;
  }
}

button {
  border-radius: 8px;
  background: #4dd599;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #38d08d;
  }
  &:active {
    background: #38d084;
  }
}

.scroll-wrapper {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 #f1f1f1;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}
